:root {
  --color-primary: #4a4e69;
  --color-primary-light: #9a8c98;
  --color-primary-dark: #22223b;
  --color-primary-light2: #f2e9e4;
  --color-primary-warm: #c9ada7;
  --color-primary-warm2: #cbc0d3;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #22223b;
  min-height: 100vh;
  color: #4a4e69;
}
