:root {
	--color-bg: #fff6ec;
	--color-bg2: #ffffff;
	--color-bg3: #e9f4f0;
	--color-coral: #c25b45;
	--color-cream: #ffebd3;
	--color-peach: #ffb6a6;
	--color-sage: #9bcec1;
	--color-blue: #67a2c5;
	--color-blue2: #3e7a8f;
	--color-text: #6b5a50;
	--color-navy: #2c3e50;
	--color-gray: #aa9999;
}

@mixin btn {
	text-decoration: none;
	background-color: var(--color-primary);
	color: var(--color-primary);
	border-radius: 25px;
	&:hover {
		background-color: var(--color-primary-warm2);
	}
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px
}

body {
	font-family: "Fraunces", serif;
	font-weight: 400;
	line-height: 1.6;
	background-color: var(--color-bg);
	min-height: 100vh;
	color: var(--color-);
}

h1 {
	font-size: 4.5rem;
	text-align: center;
	margin: 5rem 0;
}

.component {
	position: relative;
	margin: auto;
	padding-top: 10rem;
	padding-bottom: 10rem;
	width: 85%;

	&__heading {
		color: var(--color-coral);
		font-family: "Fraunces", serif;
		font-size: 4rem;

		font-weight: 400;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100vw;
		transform: translateX(-50%);
		background-color: var(--section-bg, transparent);
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100vw;
		transform: translateX(-50%);
		border-bottom: 1px solid var(--color-peach);
	}
}

#about,
#project {
	--section-bg: var(--color-cream);
}

#experience,
#skills {
	--section-bg: var(--color-bg);
}

@keyframes glow {
	0% {
		text-shadow: 0 0 20px #63e0ee;
	}
	100% {
		text-shadow:
			0 0 30px #e3e8e9,
			0 0 10px #b2e9f0;
	}
}
