.home {
  display: inline-block;
  margin: 5rem 15rem;

  h1 {
    font-size: 5rem;
    margin-bottom: 0;
    text-align: left;
  }

  p {
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }
  span {
    color: var(--color-primary-light);
  }

  &__heading {
    width: 62%;
  }

  &__btn {
    @include btn;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-align: left;
  }
}
