.navigation {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: var(--color-cream);
	height: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Inter", sans-serif;
	padding: 0 5rem;

	// border-bottom: 1px solid var(--color-peach);

	&__logo {
		display: flex;
		align-items: center;
		gap: 1rem;

		color: var(--color-blue);

		h2 {
			font-size: 2rem;
			font-weight: normal;
			margin: 0;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 3rem;
		a {
			font-size: 1.6rem;
			color: var(--color-navy);
			text-decoration: none;

			&:hover {
				color: var(--color-coral);
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
	}
}

img {
	width: 3.5rem;
	margin-right: 2.5rem;
	text-align: right;
}
