.skills {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
		gap: 3rem;
		margin-top: 2rem;
	}

	&__card {
		padding: 3rem;
		align-items: center;
		text-align: center;
	}

	&__title {
		font-size: 2.2rem;
		line-height: normal;
	}

	&__card img {
		width: 8rem;
		margin-right: 2.5rem;
		margin-bottom: 2rem;
	}

	&__desc {
		margin-top: 2rem;
		font-size: 1.5rem;
		line-height: 1.5;
		color: var(--color-text);
		font-family: "Inter", sans-serif;
	}
}
